set_io pclk       28

set_io p_in[0]    27
set_io p_in[1]    26
set_io p_in[2]    25
set_io p_in[3]    23
set_io p_in[4]    13
set_io p_in[5]    21
set_io p_in[6]    20
set_io p_in[7]    19

set_io p_out      18
